# node_modules
# tests
# .changeset
# .github
# .vscode
# yarn-error.log
# # ? ENABLE when building with rollup will be possible
# # src
# vite
# .prettierrc.cjs
# index.html
# vite.config.ts
# svelte.config.js
# rollup.config.js 
# tsconfig.json
# tsconfig.node.json
